.DS_Store
node_modules*
dist/*

# Used in Bash tests
temp.txt

# Used in npm script release
release/

/tests/e2e/videos/
/tests/e2e/screenshots/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/**/*.js
*compiled.js
*.js.map

*.db
!tests/db/*.db
!db/*.db
db.db-journal

tests/coverage
.nyc_output*
